tweepy~=3.10.0
Pillow~=8.1.0
numpy~=1.19.5
pip~=21.0.1
attrs~=20.3.0
pytz~=2020.5
idna~=2.10
multidict~=5.1.0
setuptools~=54.2.0
scipy~=1.6.0
joblib~=1.0.0
pandas~=1.2.1
python-dateutil~=2.8.1
six~=1.15.0
requests~=2.25.1
yarl~=1.6.3
aiohttp~=3.7.4.post0
certifi~=2020.12.5
chardet~=4.0.0
discord~=1.0.1
scikit-learn~=0.24.1
threadpoolctl~=2.1.0
urllib3~=1.26.2
oauthlib~=3.1.0
virtualenv~=20.4.2
distlib~=0.3.1
filelock~=3.0.12
appdirs~=1.4.4
pytesseract~=0.3.7
python-dotenv~=0.15.0
schedule~=0.6.0
termcolor~=1.1.0