@font-face {
  font-family: BIT-WONDER;
  src: url(BIT-WONDER.ttf);
}


body{

	background: #000000;

}

header {

	text-align: center;
	align-content: center;
	padding: 30px;

}

nav {

	position: center;

}

nav li {

	display: inline-block;
	padding: 30px;
}

nav a {

	text-transform: uppercase;
	color: lime;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	font-family: BIT-WONDER;


}

nav a:hover {

	color: green;


}


#logo {

	width: 60%;
	display: inline-block;


}
.principal{

	background: #000000;

}

h1 {

	text-align: center;
	color: lime;

}

p {

	text-align: center;
	color: lime;

}

ul {

	color: lime;
}

#frase {

	font-size: 30px;

}

.corpo_texto {

	background: #000000;

}

.redes {

	width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
	align-content: center;




}
.redes li {

	left: 50px;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:2px solid lime;
	border-top-width: 15px;
	border-radius: 10px;
	background: #000000;



}

.redes a {


	color: lime;
	text-decoration: none;
}

.redes li:hover {

	border-color: green;
	background: #111111;

}

.redes li:active {

	border-color: greenyellow;

}

.redes li:hover h2 {

	font-size: 25px;

}

.redes h2 {

	font-size: 20px;
	font-weight: bold;
	font-family: BIT-WONDER;


}

.code-img{

	height: 300px;


}


.tt-img{

	height: 300px;


}

.disc-img {

	height: 300px;

}

footer {

	padding-top: 65px;
}

.foot{

	font-size: 14px;
	color: green;
	text-align: center;

}